<!doctype html>
<html>
    <head>    
        
        <title>
            {{ page.title }}
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ site.snipcart_css }}" />
        <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}">
        <link rel="icon" type="image/png" href="{{ 'images/favicon.png' | relative_url }}">
        
    </head>
    <body>
        
        {{ content }}
        <script src="{{ 'js/main.js' | relative_url }}"></script>
        <script src="{{ site.snipcart_js }}" defer></script>
        <div hidden id="snipcart" data-api-key="{{ site.snipcart_api_key }}"></div>
    </body> 
</html>
